{% extends 'public/paginaadmin.html' %}
{% block title %}Agregar Nuevo Producto{% endblock %}

{% block body %}


<section>
    <h2>
        <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Registrar Nuevo Producto
        <hr>
    </h2>

    <form action="{{ url_for('formAddProducto') }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" required>
            </div>
            <div class="col">
                <label for="descripcion">Descripción</label>
                <input type="text" name="descripcion" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="marca">Marca</label>
                <input type="text" name="marca" class="form-control" required>
            </div>
            <div class="col">
                <label for="precio">Precio</label>
                <input type="text" name="precio" class="form-control" required>
            </div>
            <div class="col">
                <label for="stock">Stock</label>
                <input type="number" name="stock" class="form-control" required>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col">
                <label for="imagen">Foto del Producto</label>
                <input type="file" name="imagen" class="form-control-file" accept="image/*" required>
            </div>
        </div>
        <hr>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Registro">
    </form>
</section>

{% endblock %}