{% if(datos) %}

{% for p in datos %}
{% with urlprod = '/static/assets/img/' %}

  <div class="block2">
    <div class="block2-pic hov-img0">
      <div class="card border-primary mb-3" style="width: 14rem;">
        <img src="{{ urlprod }}{{ p.imagen }}" class="card-img-top" alt="{{ p.nombre }}">
        <div class="card-body">
          <div>
            <div class="row">
              <h5 class="card-title h3 stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">{{ p.nombre }}</h5>
            </div>
          </div>
          <div>
            <div class="row">
              <h5 class="card-title h3">${{ p.precio }}</h5>
            </div>
          </div>
          <p class="card-text h5">{{ p.descripcion }}</p>
          {% if p.stock > 0 %}
            <a href="{{url_for('verDetalles',prod_id=p.id_producto)}}" class="btn btn-primary">Comprar</a>
            {% else %}
            <p class="h3 text-center text-danger"><strong>AGOTADO!</strong></p>
          {% endif %}
       
      
    </div>
  </div>
</div>
</div>

  {% endwith %}
  {% endfor %}
  {% endif %}